@page "/"
@using Serilog

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    var user = new { Name = "nblumhardt", Id = 42 };
    Log.Information("User {@User} logged in", user);
}