@page "/"
@using Serilog

<h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Title="How is Blazor working for you?" />

@code{
    object user = new { Name = "SinjulMSBH", Id = 26 };
    protected override void OnInitialized() =>
        Log.Information("User {@User} logged in .. !!!!", user);
}